* {
  box-sizing: border-box;
  touch-action: manipulation;
}

/*GAME PAGE*/

body {
  text-align: center;
  background-color: #011f3f;
  font-family: "Press Start 2P", cursive;
  margin: 0;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#instructions {
  font-size: 2rem;
  line-height: 3.5rem;
  margin: 2.5rem auto;
  margin-bottom: 0;
  color: #fef2bf;
  height: 150px;
}

.cntr {
  position: relative;
  width: 600px;
  height: 600px;
  background-color: black;
  margin: 3rem auto;
  border-radius: 50%;
}

.level {
  position: absolute;
  font-size: 1.4rem;
  line-height: 2rem;
  width: 225px;
  height: 225px;
  background-color: #fffaf1;
  border-radius: 50%;
  border: solid 20px black;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  display: inline-block;
  width: 40%;
  height: 40%;
  margin: 0 auto;
}

.red,
.blue {
  margin-top: 40px;
}
.red {
  background-color: red;
  border-radius: 100% 0 0 0;
  margin-right: 20px;
}
.blue {
  background-color: blue;
  border-radius: 0 100% 0 0;
}
.green,
.yellow {
  margin-top: 35px;
}
.green {
  background-color: green;
  border-radius: 0 0 0 100%;
  margin-right: 20px;
}
.yellow {
  background-color: yellow;
  border-radius: 0 0 100% 0;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/*INTRO PAGE*/

#intro {
  min-height: 100vh;
  width: 100vw;
  color: #fffaf1;
  padding: 0;
}

.play {
  display: flex;
  justify-items: flex-start;
  width: 100%;
}

.fas {
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.title {
  margin-top: auto;
}

.title h1 {
  font-size: 5rem;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
}

.title h2 {
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

.btn-start {
  margin-top: 10rem;
  padding: 2rem;
}

.btn-start a {
  text-decoration: none;
  color: #011f3f;
  background: #fffaf1;
  padding: 2rem;
  margin: 2rem;
}

@media (hover: hover) {
  .btn-start a:hover {
    color: #fffaf1;
    background: #027320;
  }
}

.btn-start a:active {
  color: #fffaf1;
  background: #027320;
}

footer {
  margin-top: auto;
}

footer a {
  text-decoration: none;
  color: inherit;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1024px) {
  #instructions {
    height: 7rem;
    margin-bottom: 2rem;
  }

  .cntr {
    width: 450px;
    height: 450px;
  }

  .level {
    font-size: 1.4rem;
    line-height: 2rem;
    width: 168.75px;
    height: 168.75px;
    border: solid 15px black;
  }

  .red,
  .blue {
    margin-top: 30px;
  }
  .red {
    margin-right: 15px;
  }
  .blue {
    border-radius: 0 100% 0 0;
  }
  .green,
  .yellow {
    margin-top: 26.25px;
  }
  .green {
    margin-right: 15px;
  }
}

@media screen and (max-width: 550px) {
  .title h1 {
    font-size: 2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }

  .fas {
    font-size: 1rem;
  }

  .title h2 {
    font-size: 1rem;
    letter-spacing: 0.5rem;
  }

  .btn-start {
    margin-top: 5rem;
    padding: 2rem;
  }

  .btn-start a {
    font-size: 0.7rem;
    padding: 1rem;
    margin: 1rem;
  }

  footer {
    font-size: 0.7rem;
  }

  #instructions {
    font-size: 1rem;
    line-height: 2rem;
    height: 4rem;
    margin-bottom: 0;
  }

  .cntr {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 25%;
  }

  .level {
    font-size: 0.6rem;
    line-height: 1rem;
    width: 112.5px;
    height: 112.5px;
    border: solid 10px black;
  }

  .red,
  .blue {
    margin-top: 20px;
  }
  .red {
    margin-right: 10px;
  }

  .green,
  .yellow {
    margin-top: 17.5px;
  }
  .green {
    margin-right: 10px;
  }
}

@media screen and (max-width: 400px) {
  .cntr {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: black;
    margin: 3rem auto;
    border-radius: 25%;
  }

  .level {
    width: 75px;
    height: 75px;
    border: solid 6.66px black;
  }

  .red,
  .blue {
    margin-top: 13.33px;
  }
  .red {
    margin-right: 6.66px;
  }

  .green,
  .yellow {
    margin-top: 11.66px;
  }
  .green {
    margin-right: 6.66px;
  }
}
