* {
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  text-align: center;
  background-color: #011f3f;
  font-family: "Press Start 2P", cursive;
  margin: 0;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*GAME PAGE*/

#game {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#instructions {
  font-size: 2rem;
  color: #fffaf1;
  line-height: 3.5rem;
  margin: 2.5rem auto;
  margin-bottom: 0;
  height: 7rem;
}

#high-score {
  font-size: 1.8rem;
  color: #fffaf1;
  margin: 2rem;
}

.new-record {
  transform: scale(1.3, 1.3);
  color: yellow;
}

.cntr {
  width: 600px;
  height: 600px;
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 25%;
  background-color: #000;
  box-shadow: 0px 0px 10px 2 px rgba(0, 0, 0, 0.75);
}

.up,
.down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4%;
  height: 40%;
}

.down {
  margin-top: 0;
}

.up {
  margin-bottom: 0;
}

.btn {
  background: black;
  width: 100%;
  height: 100%;
  margin: 3%;
}

.red {
  border-radius: 100% 0 0 0;
  background-color: red;
}

.blue {
  border-radius: 0 100% 0 0;
  background-color: blue;
}

.green {
  border-radius: 0 0 0 100%;
  background-color: green;
}

.yellow {
  border-radius: 0 0 100% 0;
  background-color: yellow;
}

.level {
  position: absolute;
  font-size: 1.4rem;
  line-height: 2rem;
  width: 38%;
  height: 38%;
  background-color: #fffaf1;
  border-radius: 50%;
  border: solid 1.25rem black;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/*INTRO PAGE*/

#intro {
  min-height: 100vh;
  width: 100vw;
  color: #fffaf1;
  padding: 0;
}

.play {
  display: flex;
  justify-items: flex-start;
  width: 100%;
}

.fas {
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.title {
  margin-top: auto;
}

.title h1 {
  font-size: 5rem;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
}

.title h2 {
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

.btn-start {
  margin-top: 10rem;
  padding: 2rem;
}

.btn-start a {
  text-decoration: none;
  color: #011f3f;
  background: #fffaf1;
  padding: 2rem;
  margin: 2rem;
}

@media (hover: hover) {
  .btn-start a:hover {
    color: #fffaf1;
    background: #027320;
  }
}

.btn-start a:active,
.btn-start a:focus {
  color: #fffaf1;
  background: #027320;
  outline: none;
}

footer {
  margin-top: auto;
}

footer a {
  text-decoration: none;
  color: inherit;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1300px) {
  #instructions {
    font-size: 1.5rem;
    height: 6rem;
    margin-bottom: 1rem;
  }

  #high-score {
    font-size: 1.3rem;
  }

  .cntr {
    width: 400px;
    height: 400px;
  }

  .level {
    font-size: 1rem;
    line-height: 1.5rem;
    border: solid 1rem black;
  }

  footer {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 550px) {
  .title h1 {
    font-size: 2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }

  .fas {
    font-size: 1rem;
  }

  .title h2 {
    font-size: 1rem;
    letter-spacing: 0.5rem;
  }

  .btn-start {
    margin-top: 4rem;
    padding: 2rem;
  }

  .btn-start a {
    font-size: 0.7rem;
    padding: 1rem;
    margin: 1rem;
  }

  footer {
    font-size: 0.5rem;
  }

  #instructions {
    font-size: 1rem;
    line-height: 2rem;
    height: 4rem;
    margin-bottom: 1.5rem;
  }

  #high-score {
    font-size: 1rem;
    line-height: 1.8rem;
  }

  .cntr {
    width: 300px;
    height: 300px;
  }

  .level {
    font-size: 0.7rem;
    line-height: 1rem;
    border: solid 0.8rem black;
  }
}

@media screen and (max-width: 370px) {
  #instructions {
    margin-bottom: 1rem;
  }

  .cntr {
    width: 200px;
    height: 200px;
  }

  .level {
    font-size: 0.6rem;
    border: solid 0.5rem black;
  }
}
